<table class="table">
  <tbody>
    <tr>
      <td>Email</td>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', root_path %>
